* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
}

header {
    grid-row: 1;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: darkgreen;
    box-shadow: 0 5px 5px black;

    z-index: 4;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav button {
    background: lightgreen;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    padding: 2.5px 15px;
    margin: 0px 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

nav button:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px orange;
}

#new-form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}

#new-project-form, #new-todo-form {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#project-form, #todo-form {
    display: flex;
    flex-direction: column;

    width: 20vw;

    justify-content: center;
    align-items: center;

    background-color: greenyellow;
    border-radius: 10px;

    box-shadow: 0px 0px 10px black;

    padding: 20px;
}

.form-section {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

label {
    flex-shrink: 0;
    margin-right: 10px;
}

input {
    flex-grow: 1;
    width: 100%;
}

#radiobtns {
    display: flex;
    flex-direction: row;
}

input[type="radio"] {
    display: none;
}

label[for="todo-low"],label[for="todo-med"],label[for="todo-high"]{
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: wheat;
    margin: 5px;
    padding: 3px 20px;
    transition: all 0.3s ease;
}

label[for="todo-low"]:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px green;
    background-color: lightgreen;
}

label[for="todo-med"]:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px yellow;
    background-color: gold;
}

label[for="todo-high"]:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px red;
    background-color: lightcoral;
}

input[type="radio"]:checked + label{
    background-color: darkgreen;
    color: orange;
}

#todo-form > :last-child, #project-form > :last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-form > :last-child > button, #project-form > :last-child > button {
    font-size: 20px;
    padding: 1px 15px;
    border-radius: 10px;
    background-color: wheat;
    cursor: pointer;
    transition: all 0.3s ease;
}

#todo-form > :last-child > button:hover, #project-form > :last-child > button:hover {
    transform: scale(1.1);
}

#content {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#project-sidebar {
    grid-column: 1 / 2;

    background-color: green;
    min-height: 100vh;
}

#todo-container {
    grid-column: 2 / 3;
}

.proj-card {
    background-color: antiquewhite;
    padding: 5px 0px;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px black;

    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.proj-card-name {
    font-weight: bold;
}

.proj-card-desc {
    font-style: italic;
}

.highlight {
    background-color: aqua;
    transform: scale(1.1);
}