#todo-container {
    background-color: palegreen;
}

#todo-card-holder {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
    margin: 20px 15px;
}

.todo-card {
    background-color: orange;
    border-radius: 10px;
    min-height: 120px;

    display: flex;
    flex-direction: column;

    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.todo-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px green;
}

.todo-card-name {
    font-weight: bold;
    font-size: 25px;
    text-wrap: wrap;

    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
}

.todo-card-desc {
    font-style: italic;
    font-size: 18px;

    padding: 0px 10px;
}

.todo-card-date {
    font-size: 16px;
    
    padding-top: 10px;
    padding-left: 10px;
}

.todo-card-prio {
    font-size: 16px;

    padding: 0px 10px;
}

.todo-card-options {
    display: flex;
    margin: 10px 0px;
    justify-content: space-around;
}

.todo-card-options button {
    background: lightgreen;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 2.5px 15px;
    margin: 0px 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.todo-card-options button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px black;
}